%h4.text-center
  - start = Date.today + @offs * 7
  = @event_type.name
  = t("cities.#{@city.permalink}.gen")
  с
  = I18n.localize(start, format: "%e %B")
  по
  = I18n.localize(start.end_of_week, format: "%e %B")

- @events.each do |day, events|
  %h3.text-center= I18n.localize(Date.parse(day), format: "%e %B")
  .row
    - if events.present?
      = render 'announcements/events_carousel', events: events, day: day
    - else
      .col-xs-12
        В этот день интересные события еще не замечены. Как только они появятся, мы их добавим!

