.row
  .col-xs-4.text-center.col-sm-2.col-md-1
    = link_to user_path(comment.user) do
      = comment.user.name
      = image_tag(comment.user.avatar || comment.user.avatar, class: 'img-responsive')
  .col-xs-8.col-sm-10.col-md-11
    %h6
      = I18n.localize(comment.created_at, format: "%e %b, %H:%M")
    = comment.comment
%hr/

