#register-and-order.modal.fade{:tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for User.new, url: register_and_order_path, remote: true do |f|
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Участвовать в событии
        .modal-body
          %p
            Зарегистрируйтесь, прежде чем участвовать в мероприятии
            #register-and-order-error_explanation
            .row
              .form-group.col-sm-4
                = f.label :name
                = f.text_field :name, class: 'form-control', required: true
              .form-group.col-sm-4
                = f.label :email
                = f.email_field :email, class: 'form-control', required: true
              .form-group.col-sm-4
                = f.label :phone
                = f.phone_field :phone, class: 'form-control', required: true
              .form-group.col-sm-6
                = f.label :sex
                = f.select :sex, options_for_select([[t('sex.form.male'),:male],[t('sex.form.female'),:female]], 1), {}, class: 'form-control'
              .form-group.col-sm-6
                = f.label :password
                = f.password_field :password, class: 'form-control', required: true
        .modal-footer
          .row
            .col-xs-6.text-left
              %button.btn.btn-danger{"data-dismiss" => "modal"} Не участвовать
            .col-xs-6.text-right
              %button.btn.btn-info{type: :submit} Участвовать
- if Conf['popup.body'].present? and Conf['popup.title'].present?
  #timer.modal.fade{ :tabindex => '-1' }
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= Conf['popup.title']
        .modal-body
          = Conf['popup.body'].html_safe
        .modal-footer
          %button.btn.btn-danger{"data-dismiss" => "modal"} Закрыть