.jumbotron
  .row
    .col-xs-12
      .col-sm-4.text-center
        = link_to lazy_image_tag(event.preview, class: 'img-responsive shadow-z-2'), event_path(event)
        = render 'shared/take_part', event: event
        %section.event-details.text-left.row
          .col-xs-12
            %b Адрес:
            = address(event.address)
          .col-xs-12
            %b Тип мероприятия:
            = link_to event.event_type.name, search_path(type: event.event_type.permalink)
          .col-xs-12
            %b Город:
            = link_to event.city.name, search_path(city: event.city.permalink)
          .col-xs-12
            %b Цена:
            = price(event.price)
          .col-xs-12
            %b
              = %{#{t("sex.added.#{event.user.sex}")}:}
            = link_to event.user.name, user_path(event.user)
          .col-xs-12.text-center
            = link_to "Похожие события", search_path(city: event.city.permalink, type: event.event_type.permalink), class: 'btn btn-warning'
      .col-sm-8
        %section
          %header
            .text-right
              = render event.days.actual, city: event.city
            %h2= link_to event.name, event_path(event)
          %section
            = event.display_content