.ui.grid.segment.piled
  .ui.four.wide.column.center.aligned
    .ui.dropdown
      #search-city.text= t('search_bar.city')
      %i.dropdown.icon
      .menu
        - City.all.each do |city|
          .item= "<span data-permalink='#{city.permalink}'>#{city.name}</span> (#{city.events.count})".html_safe
  .ui.four.wide.column.center.aligned
    .ui.dropdown
      #search-type.text= t('search_bar.type')
      %i.dropdown.icon
      .menu
        - EventType.all.each do |type|
          .item= "<span data-permalink='#{type.permalink}'>#{type.name}</span> (#{type.events.count})".html_safe
  .ui.four.wide.column.center.aligned
    .input
      #search-date= date_select :date, ''
  .ui.four.wide.column.center.aligned
    %button#search-submit.ui.button.teal.mini= t('search_bar.submit')