.col-xs-12.col-sm-6.col-md-4.event-item-container
  .col-xs-12.event-item.shadow-z-1
    %header.col-xs-12.event-top-bar
      = render 'events/event_controls', event: event if can?(:manage, event)

      = event.event_type.name
      В
      = t("cities.#{event.city.permalink}.gen")
    .event-item-body.col-xs-12
      = link_to (image_tag event.preview, class: 'img-responsive shadow-z-2'), event_path(event)
      .col-sm-12
        .text-center
          %header
            %h3= link_to event.name, event_path(event)
          %button.btn.btn-info.btn-xs Участвовать
        %article.teaser= event.teaser
        .text-center
          %small= render event.days.actual