- f.object.images.build
#images-uploader
  .row
    .col-xs-12.images
      - if f.object.new_record?
        .col-xs-4.image
          = f.fields_for :images do |builder|
            = builder.file_field :attachment, multiple: true
      - else
        = f.fields_for :images do |builder|
          .col-xs-4.image
            - if builder.object.attachment.present?
              = builder.check_box :_destroy
              = builder.label :destroy
              = image_tag(builder.object.attachment, class: 'img-responsive')
            = builder.file_field :attachment