- content_for :top_background_content do render 'top_background_content', event: @event end
- content_for :title do @event.name end

.row
  .col-sm-6
    .panel.panel-primary
      .panel-heading Описание события
      .panel-body
        .col-sm-12
          = @event.display_content
  .col-sm-6
    .panel.panel-primary
      .panel-heading Подробности события
      .panel-body
        .col-xs-12
          Адрес:
          = address(@event.address)
          %br/
          Цена:
          = price(@event.price)
  .col-sm-12
    .panel.panel-primary
      .panel-heading Комментарии
      .panel-body
        .col-xs-12
          - if @event.comments.present?
            = render(@event.comments)
          - else
            Никто еще не прокомментировал это мероприятие...
            %hr/
        .col-xs-12
          - if current_user
            = render 'comments/new'
          - else
            = link_to "Зайдите", new_user_session_path, class: 'btn btn-info'
            или
            = link_to "Зарегистрируйтесь", new_user_session_path, class: 'btn btn-warning btn-raised'
            что бы прокомментировать это мероприятие
