%h1.header= @event.name

.ui.segment
  .ui.grid
    .ui.column.eight.wide
      .ui.grid.padded
        .ui.image= image_tag(@event.preview)
        - @event.images.each do |image|
          .ui.four.wide.column
            .ui.image= image_tag(image)
    .ui.column.eight.wide
      %article.event-description
        = @event.description
        - @event.advanced_descr.each do |k,v|
          %p= "<b>#{k}</b>: #{v}".html_safe
