%h1= t('events.h1.dates')
= form_tag :tests, url: :tests, method: :get do
  .jumbotron
    .row
      .col-md-4
        .form-group
          = label_tag 'Дата'
          = text_field_tag :date, params[:date], class: 'form-control', value: params[:date]
        .form-group
          = label_tag 'Текст'
          = text_area_tag :text, params[:text], class: 'form-control', value: params[:text]
        .form-group
          = label_tag 'Стоп слова'
          = text_area_tag :stop, params[:stop], class: 'form-control', value: params[:stop]
        %br/
      .col-md-8
        %h3 Даты
        %pre#date-result
          = @dates || "Ошибка"
        %h3 Цена
        %pre#price-result
          = @price || "Ошибка"
        %h3 Тип
        %pre#type-result
          = @type || "Ошибка"
        %h3 Непринятые события
        - if @stop_events.present?
          %ul
            - @stop_events.each do |event|
              %li= link_to event.name, event_path(event)
    .text-right
    .text-right
      = submit_tag "Проверить", class: 'btn btn-info'
%h1 Логи
.jumbotron
  .row
    .col-xs-12
      %ul
        %li= link_to 'Неправильные даты', '/logs/wrong_dates'
        %li= link_to 'События с ошибками', '/logs/failed_events'
        %li= link_to 'Мало участников', '/logs/low_members'
        %li= link_to 'Медленные картинки', '/logs/slow_images'
        %li= link_to 'События без даты', '/logs/without_dates'
%h1 Разное
.jumbotron
  .row
    .col-xs-12
      = link_to "Парсить VK", parse_vk_path, method: :post
      %br/
      = EventType.ok? ? "&#x2713 В ключевых словах Типов нет повторений".html_safe : "&times; Ошибка. Ключевые слова в типах имеют повторения.".html_safe