%nav#top-nav.navbar.navbar-inverse.shadow-z-2
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to image_tag('logo.png', class: 'logo'), root_path
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li=link_to t('menu.users'), users_path

        - unless current_user
          %li=link_to t('menu.add_event'), new_event_path, class: 'label label-warning'
      - if controller.controller_name == 'events' and controller.action_name == 'search'
        = form_tag :search, class: "navbar-form navbar-left", method: :get do
          .form-control-wrapper
            = text_field_tag :name, params[:name], class: 'form-control empty', placeholder: "Фильтр по имени"
            %span.material-input
      %ul.nav.navbar-nav.navbar-right

        - if current_user
          %li.hidden-xs
            .dropdown.user-icon.text-center
              #user-icon-dropdown.dropdown-toggle{ 'data-toggle' => 'dropdown' }
                = lazy_image_tag(current_user.avatar_preview)
              %ul.dropdown-menu{ 'aria-labelledby' => 'user-icon-dropdown' }
                - if current_user.admin?
                  %li

                    =link_to admin_root_path do
                      %i.mdi-action-stars
                      = t('menu.admin')
                %li
                  =link_to user_path(current_user) do
                    %i.mdi-action-account-circle
                    = t('menu.profile')
                %li
                  =link_to orders_user_path(current_user) do
                    %i.mdi-action-account-child
                    = t('menu.clients')
                %li
                  =link_to edit_user_path(current_user) do
                    %i.mdi-image-edit
                    = t('menu.edit_profile')
                %li
                  =link_to new_event_path do
                    %i.mdi-image-control-point
                    = t('menu.add_event')
                %li
                  =link_to destroy_user_session_path, method: :delete do
                    %i.mdi-maps-directions-walk
                    = t('menu.logout')
          - if current_user.admin?
            %li.visible-xs=link_to t('menu.admin'), admin_root_path
          %li.visible-xs=link_to t('menu.profile'), user_path(current_user)
          %li.visible-xs=link_to t('menu.clients'), orders_user_path(current_user)
          %li.visible-xs=link_to t('menu.edit_profile'), edit_user_path(current_user)
          %li.visible-xs=link_to t('menu.add_event'), new_event_path
          %li.visible-xs=link_to t('menu.logout'), destroy_user_session_path, method: :delete
        - else
          %li=link_to t('menu.sign_up'), new_user_registration_path
          %li=link_to image_tag("vkontakte.png", size: '16x16'), omniauth_authorize_path(:user, :vkontakte)
          %li=link_to t('menu.login'), new_user_session_path