!!!
%head
  %title= announcements_title(@city, @event_type, (Date.today + @offs * 7))
  %meta{ charset: 'utf-8' }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
  = csrf_meta_tags
  = favicon_link_tag '/favicon.png'
  = stylesheet_link_tag 'application', media: 'all'
%body.announcements
  = render 'shared/announcements_header'
  .container
    .row
      .col-xs-12
        = yield
  = render 'shared/announcements_footer'
  = javascript_include_tag 'application'
