<!DOCTYPE html>
<html>
<head>
  <title>
    <%= t('site') %>
    <% if content_for?(:title) %>
      -
      <%= yield :title %>
    <% end %>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description"        content=" <%= @seo_description || yield( :seo_description) %>" />
  <meta name="keywords"           content=" <%= @seo_keywords || yield( :seo_keywords) %>" />
  <meta name="viewport"           content= "width=device-width, initial-scale=1" />
  <link href="/favicon.png"       rel="shortcut icon" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= Conf['scripts.head'].html_safe %>
</head>
<body>
  <div class='site'>
    <%= render 'layouts/top_menu' %>
    <% if content_for? :top_background_content %>
      <div class='jumbotron top-background-content'>
        <%= yield :top_background_content %>
      </div>
    <% end %>
    <%= render 'layouts/flash' %>
    <div class='container main-content'>
      <%= yield %>
    </div>
    <div class='site-footer'>
      <%= render 'layouts/footer' %>
    </div>
  </div>
  <%= render 'shared/modals' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/popup' %>
  <%= render 'shared/vk_public', widget_id: @city.vk_public_url if @city.present? and @city.vk_public_url.present? %>
  <%= Conf['scripts.body'].html_safe %>
</body>
</html>
