<!DOCTYPE html>
<html>
<head>
  <title>Теренкур</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.6.0/semantic.min.css', media: 'all' %>
  <meta name=viewport content="width=device-width, initial-scale=1">


  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_menu' %>
  <%= render 'layouts/flash' %>

  <div class='ui page grid'>
    <div class='main container'>
      <div class='ui grid full'>
        <div class='sixteen column row'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.6.0/semantic.min.js', media: 'all' %>
</body>
</html>
